body {
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* Surcharge de la declaration dans le fichier normalize */
svg:not(:root) {
    overflow: visible;
}