.btn {
    height: 50px;
    padding: rem(15px) rem(20px);
    font-size: rem(16px);
    font-weight: 500;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;

    &--classic {
        position: relative;
        background-image: linear-gradient(360deg, $color-primary, $color-secondary);
        box-shadow: 0 5px 5px 2px rgba(0, 0, 0, .1);
        color: $color-white;
        transition: box-shadow 500ms;

        &:hover {
            box-shadow: 0 5px 5px 2px rgba(0, 0, 0, .3);
        }

        &:hover::after {
            content: '';
            @include position(absolute, 0, 0, 0, 0);
            border-radius: 25px;
            background: rgba($color-white, .1);
        }
    }

    &--p50 {
        padding-right: rem(50px);
        padding-left: rem(50px);
    }
}

.btn-like {
    border: none;
    background: none;
}